* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5 {
    margin-bottom: 5px;
    margin-top: 10px;
}

body, html {
    background: #fff;
}

label {
    cursor: pointer;
}

.title {
    margin: 0;
    color: #9b4dca;
}

.page-heading {
    background: #f4f5f6;
    padding: 10px;
    border-bottom: solid 1px #b2b3b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
    padding: 0 50px 0 100px;
}

.container-form {
    height: 80%;
    padding: 10px 10px 0 20px;
}

.container-form p {
    margin-bottom: 10px;
}

.container-form label {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2px;
}

.container-form input {
    margin: 0;
}

.question {
    margin-bottom: 30px;
}

.submit {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* popup */
.popup-wrapper {
    display: block;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10% auto;
    padding: 30px 0 30px 0;
    background: white;
    position: relative;
    border-radius: 5px;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    padding: 0 10px 10px 10px;
} 