* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #fff;
}

label {
    cursor: pointer;
}

.title {
    margin: 0;
    color: #9b4dca;
}

.page-heading {
    background: #f4f5f6;
    padding: 10px;
    border-bottom: solid 1px #b2b3b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
    padding: 0 50px 0 100px;
}

.container-form {
    height: 80%;
    padding: 10px 10px 0 20px;
}

.container-form p {
    margin-bottom: 10px;
}

.container-form label {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2px;
}

.container-form input {
    margin: 0;
}

.question {
    margin-bottom: 30px;
}

.submit {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}