* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #eee;
}

.title {
    text-align: center;
}

.page-heading {
    background: #f9dbbd;
    padding: 20px;
}

.container {
    margin-top: 10px;
}

.container-form {
    height: 80%;
    padding: 10px 10px 0 20px;
}

.container-form p {
    margin-bottom: 10px;
}

.container-form label {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2px;
}

.container-form input {
    margin: 0;
}

.question {
    margin-bottom: 30px;
}